@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@700;800;900&display=swap");

:root {
	--red-1: #d83e2d;
	--github-fill: #94281c;
	--github-color: var(--red-1);
	--text-color-1: #ffedd6;
	--text-color-2: #ffedd6e0;
	--text-color-3: #fff1f0;
	--text-color-4: #fff4e6;
	--card-outline: 4px double #ba1d1d6b;
	--card-box-shadow: 4px 4px 16px #e9c1c1;
	--hover-focus-color: #eb5439;
	--card-transition: all 0.3s ease-in-out;
	--header-transition: all 0.4s ease-in-out;
	--button-background: #ffe6e3d2;
	--button-color: #e97265;
	--button-hover: #f8422e;
	--link-hover: #5a230d;
	--card-rotation: rotateY(180deg);
	--body-color: #333;
	--content-color: rgb(92, 92, 92);
	--link-color: rgba(41, 41, 41, 0.466);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

body {
	font-family: darkmode-on, sans-serif;
	font-weight: 900;
	font-style: normal;
	color: var(--body-color);
	line-height: 1.5;
	height: 100vh;
	position: relative;
	display: flex;
	justify-content: center;
}

.title {
	text-align: center;
}

header {
	position: fixed;
	top: 0;
	padding: 10px;
	height: 120px;
	width: 100%;
	color: var(--text-color-1);
	background-color: var(--red-1);
	z-index: 10;
	box-shadow: var(--card-box-shadow);
	overflow: hidden;
	transition: var(--card-transition);
}

header:hover,
header:focus {
	height: 220px;
	background-color: var(--hover-focus-color);
}

header:hover h1,
header:focus h1 {
	color: var(--text-color-4);
}

header:hover .github-corner svg path,
header:focus .github-corner svg path {
	color: var(--hover-focus-color);
	transition: var(--card-transition);
}

#myBtn {
	display: none;
	position: fixed;
	height: 46px;
	width: 46px;
	bottom: 15px;
	right: 15px;
	z-index: 99;
	font-size: 18px;
	border: none;
	outline: none;
	background-color: var(--button-background);
	color: var(--button-color);
	cursor: pointer;
	text-align: center;
	border-radius: 50%;
}

#myBtn:hover {
	background-color: var(--button-hover);
	color: var(--text-color-3);
}

#expand {
	margin-top: 10px;
	letter-spacing: 0.25px;
}

#header-link {
	color: var(--text-color-2);
	transition: var(--header-transition);
	font-weight: 700;
}

#header-link:hover,
#header-link:focus {
	color: var(--link-hover);
}

h2,
h4 {
	padding: 4px;
	text-align: center;
}

h2 {
	font-size: 2em;
	font-weight: 500;
	letter-spacing: 0.5px;
	color: var(--text-color-1);
}

h4 {
	font-size: 1.75em;
	font-weight: 400;
	color: var(--text-color-2);
}

#strong {
	font-weight: 800;
}

#mini {
	font-size: 0.85em;
}

#book-title {
	font-style: italic;
	font-weight: 600;
}

header a {
	text-decoration: none;
	color: inherit;
}

header h1 {
	margin-top: -15px;
	font-family: "Roboto Slab", serif;
	font-weight: 800;
	font-style: normal;
	font-size: 8rem;
}

p {
	font-size: 1.5em;
}

.card-container {
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 30px;
	width: 90%;
	margin: auto;
	display: flex;
	flex-wrap: wrap;
	place-content: center;
	margin-top: 180px;
	padding-bottom: 60px;
}

.card {
	min-width: 302px;
	height: 394px;
	margin: 10px;
	position: relative;
	transform-style: preserve-3d;
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: var(--card-rotation);
	-ms-transform-style: var(--card-rotation);
	-o-transform-style: var(--card-rotation);
	transition: transform 0.3s;
	border-radius: 2rem;
}

.card:hover,
.card:focus,
.card:focus-within {
	transform: var(--card-rotation);
	-webkit-transform: var(--card-rotation);
	-moz-transform: var(--card-rotation);
	-ms-transform: var(--card-rotation);
	-o-transform: var(--card-rotation);
	transition: transform 0.3s ease 0.3s;
}

.front,
.back {
	width: 100%;
	height: 100%;
	position: absolute;
	backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	border-radius: 2rem;
	box-shadow: var(--card-box-shadow);
	outline: var(--card-outline);
	-webkit-outline: var(--card-outline);
	-moz-outline: var(--card-outline);
	-ms-outline: var(--card-outline);
	-o-outline: var(--card-outline);
	outline-offset: -12px;
	-webkit-outline-offset: -12px;
	-moz-outline-offset: -12px;
	-ms-outline-offset: -12px;
	-o-outline-offset: -12px;
}

.front {
	padding: 20px 22px;
	background-color: white;
	transform: var(--card-rotation);
	-webkit-transform: var(--card-rotation);
	-moz-transform: var(--card-rotation);
	-ms-transform: var(--card-rotation);
	-o-transform: var(--card-rotation);
}

.front a {
	text-decoration: none;
}

#card-title,
#card-title-small {
	margin-top: 5px;
	color: var(--red-1);
	font-weight: 600;
	text-align: center;
	padding-bottom: 15px;
}

#card-title {
	font-size: 2.35em;
}

#card-title-small {
	font-size: 2em;
	margin-bottom: 5px;
}

#card-content {
	color: var(--content-color);
	font-weight: 400;
	line-height: 1.6;
	font-size: 1.6em;
	text-align: left;
	height: 260px;
}

#content-link {
	margin-top: 16px;
	text-align: right;
}

#content-link a {
	font-size: 1.1em;
	letter-spacing: 0.5px;
	font-weight: 400;
	color: var(--link-color);
}

#content-link a:hover,
#content-link a:focus {
	color: var(--red-1);
	cursor: pointer;
}

:focus {
	outline-color: var(--red-1);
}

.github-corner:hover .octo-arm {
	animation: octocat-wave 560ms ease-in-out;
}

@keyframes octocat-wave {

	0%,
	100% {
		transform: rotate(0);
	}

	20%,
	60% {
		transform: rotate(-25deg);
	}

	40%,
	80% {
		transform: rotate(10deg);
	}
}

@media (max-width: 500px) {
	.github-corner:hover .octo-arm {
		animation: none;
	}

	.github-corner .octo-arm {
		animation: octocat-wave 560ms ease-in-out;
	}
}

@media (max-width: 1140px) {
	#expand {
		font-size: 1.5em;
	}
}

@media (max-width: 930px) {
	header {
		height: 90px;
	}

	header:hover,
	header:focus {
		height: 180px;
	}

	header h1 {
		font-size: 5em;
		padding-top: 10px;
		padding-bottom: 10px;
	}

	#description {
		font-size: 1.75em;
	}

	#expand {
		font-size: 1.3em;
	}

	.github-corner svg {
		height: 90px;
		width: 90px;
	}
}

@media (max-width: 800px) {
	#description {
		font-size: 1.5em;
	}

	#expand {
		font-size: 1.1em;
	}
}

@media (max-width: 685px) {
	header {
		height: 90px !important;
	}

	header h1 {
		user-select: none !important;
	}

	header:hover,
	header:focus {
		background-color: var(--red-1) !important;
		pointer-events: none !important;
	}

	header:hover h1,
	header:focus h1 {
		color: var(--text-color-4) !important;
		pointer-events: none !important;
	}

	#description,
	#expand,
	.github-corner {
		display: none !important;
		user-select: none !important;
	}

	.card-container {
		margin-top: 125px;
	}
}

@media (max-width: 500px) {
	header h1 {
		font-size: 3.25em;
		padding-top: 22px;
	}

	#myBtn {
		bottom: 8px;
		right: 8px;
	}
}